<div class="container h-50">
  <div class="row justify-content-center">
    <div class="col-8">
      <p-tabView>
        <p-tabPanel header="Que es esto?">
          <p>Este es mi trabajo de grado</p>
        </p-tabPanel>
        <p-tabPanel header="De donde vienen los datos?">
          <p>De la encuesta de movilidad de bogota para el año 2019</p>
        </p-tabPanel>
        <p-tabPanel header="Que se encontro?">
          <p>Que todo esta jodido</p>
        </p-tabPanel>
        <p-tabPanel header="Como lo uso?">
          <p>Haciendo clicks</p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
